* {font-family: 'SUIT', sans-serif;}

#savePdfBtn{
    width: 100px;
    border: 1px solid;
    cursor : pointer;
}

#savePdfBtn2 {
    width: 100px;
    border: 1px solid;
    cursor: pointer;
}

#savePdfBtn3 {
    width: 100px;
    border: 1px solid;
    cursor: pointer;
}

.mainBanner{
  width: 100px;
  float: right;
  margin-right: 50px;
}

.label{
    background : rgb(146, 52, 74);
    color: white;
}

.contentBox{
    margin: 20px auto;
    width: 650px;
}

.contentBox.titleWrap{
    text-align: center;
}

.titleWrap > .titleKor{
    color : rgb(146, 52, 74);
    font-size: 40px;
}

.titleWrap > .titleEng{
    color : rgb(208, 97, 109);
    font-size: 35px;
}

.contentBox > .company_info_wrap{
    display: flex;
}

.contentBox > .company_info_wrap > .company_info{
    border: 1px solid;
    background : rgb(146, 52, 74);
    color: white;
}

.contentBox > .company_info_wrap > .company_input_wrap{
    width: 71%;
}

.contentBox > .company_info_wrap > .company_input_wrap > .company_input{
    width: 100%;
    height: 100%;
}

.contentBox > .company_info_wrap > .company_info{
    width: 30%;
    border: 1px solid;
    background : rgb(146, 52, 74);
    color: white;
	padding-left:2px;
}

.contentBox > .company_info_wrap > .company_input_wrap{
    width: 71%;
}

.contentBox > .company_info_wrap > .reservation_maker_info_wrap{
    width: 35%;
}

.contentBox > .company_info_wrap >  .employee_email_info_wrap{
    width: 36%;
}

.contentBox > .company_info_wrap > .reservation_maker_info_wrap > .reservation_maker_info_input{
    width: 100%;
    height: 100%;
}

.contentBox > .company_info_wrap >  .employee_email_info_wrap > .employee_email_info_input{
    width: 100%;
    height: 100%;
}

.contentBox > .gbcWrap{
    display: flex;
}

.contentBox > .gbcWrap > .gbc{
    width: 35%;
    border: 1px solid;
    background : rgb(146, 52, 74);
    color: white;
    text-align: center;
}

.contentBox > .gbcWrapInput{
    display: flex;
}

.reservation_date{
    width: 185px;
}

.contentBox > .main_reservation_info_wrap{
    display: flex;
    text-align: center;
}

.main_reservation_info_wrap > .reservation_info{
    border-bottom: 1px solid;
    width: 30%;
    background : rgb(250, 240, 229);
    color: black;
}

.main_reservation_info_wrap > .reservation_info02 {
    border-bottom: 1px solid;
    background: rgb(250, 240, 229);
    color: black;
}

.main_reservation_info_wrap > .reservation_info03 {
    border-bottom: 1px solid;
    background: rgb(250, 240, 229);
    color: black;
	padding-top:10px;
}

.main_reservation_info_wrap > .reservation_input_wrap{
    width: 70%;
}

.reservation_input_wrap > .reservation_input{
    width: 100%;
    height: 100%;
}

.main_reservation_desc{
    font-size: 12px;
}

.travelAgentInfo{
    width: 23%;
    border: 1px solid;
    background : rgb(146, 52, 74);
    color: white;
	padding-left:2px;
}

.travelAgentInfoInputWrap{
    width: 77%;
}

.travelAgentInfoInput{
    width: 100%;
    height: 100%;
}
.employee_email_info_inputWrap{
    width: 30%;
}

.employee_email_info_input{
    width: 100%;
    height: 100%;
}

.employee_email_default_info{
    border: 1px solid;
}

.employee_email_default_info_text{
    margin-top: 10px;
}

.top_main_reservation_desc{
    color: rgb(225, 189, 130);
}

.period_time_from_wrap{
    width: 30%;
}

.period_time_from_input{
    width: 100%;
    height: 100%;
	text-align:center;
}

.period_time_to_wrap{
    width: 30%;
}

.period_time_to_input{
    width: 100%;
    height: 100%;
	text-align:center;
}

.people_count{
    width: 16.6%;
}


/** CSS�߰� -2023.03.02 **/
.travelAgentInfo01 {
    width: 133px;
    border: 1px solid;
    background : rgb(146, 52, 74);
    color: white;
	padding-left:2px;
}

.travelAgentInfoInputWrap01 {
    width: 517px;
}

.contentBox > .company_info_wrap > .company_info01 {
    width: 133px;
    border: 1px solid;
    background : rgb(146, 52, 74);
    color: white;
	padding-left:2px;
}

.contentBox > .company_info_wrap > .reservation_maker_info_wrap01 {
    width: 170px;
}

#reservation_maker_info {
	width:100%; height:100%;
}

#customer_name, #reservation_date, #contact_number {
	width:216px;
	height:100%;
	text-align:center;
}

#reservation_date {
	text-align:center;
}

#adult_count, #child_count, #child_age {
	width:100%;
	height:49px;
	text-align:center;
}

#tour_time_from, #tour_time_to, #car_pickup_time, #car_send_time {
    width: 100%;
    text-align: center;
}

#car_pickup_location, #car_send_location {
	width:100%;
}

.top_main_reservation_desc {
	letter-spacing:-1px;
}


.main_reservation_info_wrap > .reservation_info04 {
    border-bottom: 1px solid;
    width: 165px !important;
    background: rgb(250, 240, 229);
    color: black;
}

.main_reservation_info_wrap > .reservation_info05 {
    border-bottom: 1px solid;
    width: 100px !important;
    background: rgb(250, 240, 229);
    color: black;
}

.main_reservation_info_wrap > .reservation_input_wrap03 {
    width:160px;
}

#checkin_date, #checkout_date {
	width:100%;
	text-align:center;
}

.reservation_input_wrap04 {
    width:535px;
}

.reservation_input_wrap04_1 {
    width:485px;
}

.reservation_input_wrap04 > .reservation_input, .reservation_input_wrap04_1 > .reservation_input {
    width: 100%;
    height: 100%;
}

.period_time_from_wrap04 {
    width:232px;
}

.period_time_to_wrap04 {
    width:233px;
}

.wd85 {
	width:85px;
}

.wd185 {
	width:184px;
}

.pdt6 {
	padding-top:6px;
}

.pdt12 {
	padding-top:12px;
}

.notBorder {
	border-radius:0px !important;
}

.textArea_topTr {
	line-height:14px; width:100%; height:100%; overflow:hidden; font-size:13px;
}

#car_pickup_location, #car_send_location {
	height:100%;
}

.deposit_wrap{
    margin: 0 auto;
    display: flex;
    width: 555px;
}